@font-face {
    font-family: 'OKCHAN';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKCHAN.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    font-family: 'GmarketSansMedium';
    font-size: 16px;
    padding: 0;
    margin: 0;
    
}
body{
    background: url(../images/bg.jpg) left top no-repeat;
}
.container{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px 80px;
    background: #fff;

}
.container h1{
    font-family: 'OKCHAN';
    text-align: center;
    font-size: 4.5rem;
    padding: 20px 0;
    text-shadow: 1px 1px 4px rgb(63, 62, 63);
}
.menus{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double #999;
}
.menus button{
    border: none;
    background: none;
    margin: 5px;
}
.menus button:hover{
    color: #dfdddd;
}
.newsWrap{
    
}
.news{
    padding: 20px 0;
    border-bottom: 1px solid #999;
}
.newsImgSize{
    max-width: 100%;
    max-height: 200px;
}
.noImage{
    background: #eee;
}
.noImage::after{
    content: 'IMAGE NOT AVAILABLE';
    text-align: center;
    border: 1px solid #999;
}
@media (max-width: 990px) {
    .imgArea{ text-align: center; margin-bottom: 20px;}
        
}
@media (max-width: 820px) {
    .container{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 30px 30px;    
    }
    .container h1{        
        font-size: 2.5rem;        
    }
}
@media (max-width: 420px) {   
    .container h1{        
        font-size: 1.2rem;        
    }
  }